
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright/.auth
playwright/.cache
playwright-report/
test-results/
.local-browsers
.local-storage

# Node
node_modules/

# Allure
allure-results/
.allure/

# Other
.env